@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root,
[data-theme] {
  background: oklch(var(--b2));
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
}

p {
  margin: 1rem 0;
}

.btn {
  @apply shadow-md;
}

.btn.btn-ghost {
  @apply shadow-none;
}


.selected {
  background-color: #4ade80; /* Example green background */
  color: white; /* Example white text */
  border: none; /* Remove default border */
}

.selected:hover {
  background-color: #4ade80; /* Example green background */
  color: white; /* Example white text */
  border: none; /* Remove default border */
}

.addressToggle {
  margin-top: 20px;
  margin-right: 10px;
}

.addressToggleLabel {
  vertical-align: super;
}

.hide{
  display: none;
}
